<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row topmenu">
      <div class="col col-lg-2">
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas" (click)="hamburger_cross()">
          <span class="hamb-top"></span>
          <span class="hamb-middle"></span>
	        <span class="hamb-bottom"></span>
        </button>
      </div>
      <div class="col col-lg-10">
        <a src="https://github.com/NiBin90/"><img src="https://avatars3.githubusercontent.com/u/22909388?v=3&s=400" alt="photo" class="user-img img-circle pull-right"></a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
  <!-- /#page-content-wrapper -->