<div id="topmenu">
  <div class="container-fluid">
    <div class="row topmenu">
      <div id="brand"><a href="#" class="pull-left"><span class="bandfont">NB</span>Admin</a></div>
      
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas" (click)="hamburger_cross()">
          <span class="hamb-top"></span>
          <span class="hamb-middle"></span>
	        <span class="hamb-bottom"></span>
        </button>
      
      <div class="pull-right">
        <a src="https://github.com/NiBin90/"><img src="https://avatars3.githubusercontent.com/u/22909388?v=3&s=400" alt="photo" class="user-img img-circle pull-right"></a>
      </div>
    </div>
  </div>
